<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings>
    <add name="LogManager" connectionString="Data Source=JKC.biu.ac.il;Initial Catalog=JKCLog;persist security info=True; Integrated Security=SSPI"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <appSettings>
    <add key="IP" value="0.0.0.0" />
    <add key="Port" value="52616" />
    <add key="InsertLog" value="INSERT INTO EventTable (event_date, event_type, program_id, sub_program_id, description) VALUES(@event_date, @event_type, @program_id, @sub_program_id, @description)" />
    <add key="InsertDoc" value="INSERT INTO flowTable (doc_id, pipe_id, cprocess, pipe_index, start_time, avaliable, cround) VALUES(@doc_id, @pipe_id, @cprocess, @pipe_index, @start_time, @avaliable, @cround)" />
    <add key="UpdateDoc" value="UPDATE flowTable SET avaliable = @avaliable WHERE doc_id = @doc_id AND pipe_id = @pipe_id;" />
    <add key="WaitingDocs" value="SELECT * FROM flowTable WHERE cprocess = |PROCESS_ID| ORDER BY start_time ASC;" />
  </appSettings>
</configuration>